svg(width="40", height="40", viewBox="0 0 40 40", fill="none", xmlns="http://www.w3.org/2000/svg")
  rect(width="40", height="40", fill="white")
  path(d="M20.392 26V23.856H15.48V21.808L19.832 14.832H22.68V22H24.088V23.856H22.68V26H20.392ZM17.4 22H20.392V17.312H20.232L17.4 22Z", fill="#676A6F")