svg(width="479", height="59", viewBox="0 0 479 59", fill="none", xmlns="http://www.w3.org/2000/svg")
  rect(y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="3", y="15", width="2", height="28", fill="#A5B4CB")
  rect(x="6", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="9", y="17", width="2", height="26", fill="#A5B4CB")
  rect(x="12", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="15", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="18", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="21", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="24", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="27", y="15", width="2", height="28", fill="#A5B4CB")
  rect(x="30", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="33", y="17", width="2", height="26", fill="#A5B4CB")
  rect(x="36", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="39", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="42", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="45", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="48", y="15", width="2", height="28", fill="#A5B4CB")
  rect(x="51", y="15", width="2", height="28", fill="#A5B4CB")
  rect(x="54", y="17", width="2", height="26", fill="#A5B4CB")
  rect(x="57", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="60", y="17", width="2", height="26", fill="#A5B4CB")
  rect(x="63", y="15", width="2", height="28", fill="#A5B4CB")
  rect(x="66", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="69", y="13", width="2", height="30", fill="#A5B4CB")
  rect(x="72", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="75", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="78", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="81", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="84", y="8", width="2", height="35", fill="#A5B4CB")
  rect(x="87", y="9", width="2", height="34", fill="#A5B4CB")
  rect(x="90", y="17", width="2", height="26", fill="#A5B4CB")
  rect(x="93", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="96", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="99", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="102", y="17", width="2", height="26", fill="#A5B4CB")
  rect(x="105", y="15", width="2", height="28", fill="#A5B4CB")
  rect(x="108", y="15", width="2", height="28", fill="#A5B4CB")
  rect(x="111", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="114", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="117", y="17", width="2", height="26", fill="#A5B4CB")
  rect(x="120", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="123", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="126", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="129", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="132", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="135", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="138", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="141", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="144", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="147", y="17", width="2", height="26", fill="#A5B4CB")
  rect(x="150", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="153", y="9", width="2", height="34", fill="#A5B4CB")
  rect(x="156", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="159", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="162", y="9", width="2", height="34", fill="#A5B4CB")
  rect(x="165", y="8", width="2", height="35", fill="#A5B4CB")
  rect(x="168", y="8", width="2", height="35", fill="#A5B4CB")
  rect(x="171", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="174", y="8", width="2", height="35", fill="#A5B4CB")
  rect(x="177", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="180", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="183", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="186", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="189", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="192", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="195", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="198", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="201", y="17", width="2", height="26", fill="#A5B4CB")
  rect(x="204", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="207", y="9", width="2", height="34", fill="#A5B4CB")
  rect(x="210", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="213", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="216", y="9", width="2", height="34", fill="#A5B4CB")
  rect(x="219", y="8", width="2", height="35", fill="#A5B4CB")
  rect(x="222", y="8", width="2", height="35", fill="#A5B4CB")
  rect(x="225", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="228", y="9", width="2", height="34", fill="#A5B4CB")
  rect(x="231", y="5", width="2", height="38", fill="#A5B4CB")
  rect(x="234", y="4", width="2", height="39", fill="#A5B4CB")
  rect(x="237", y="4", width="2", height="39", fill="#A5B4CB")
  rect(x="240", y="4", width="2", height="39", fill="#A5B4CB")
  rect(x="243", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="246", width="2", height="43", fill="#A5B4CB")
  rect(x="249", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="252", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="255", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="258", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="261", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="264", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="267", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="270", y="8", width="2", height="35", fill="#A5B4CB")
  rect(x="273", y="8", width="2", height="35", fill="#A5B4CB")
  rect(x="276", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="279", y="8", width="2", height="35", fill="#A5B4CB")
  rect(x="282", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="285", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="288", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="291", y="5", width="2", height="38", fill="#A5B4CB")
  rect(x="294", y="8", width="2", height="35", fill="#A5B4CB")
  rect(x="297", y="5", width="2", height="38", fill="#A5B4CB")
  rect(x="300", y="4", width="2", height="39", fill="#A5B4CB")
  rect(x="303", y="4", width="2", height="39", fill="#A5B4CB")
  rect(x="306", y="4", width="2", height="39", fill="#A5B4CB")
  rect(x="309", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="312", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="315", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="318", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="321", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="324", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="327", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="330", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="333", y="12", width="2", height="31", fill="#A5B4CB")
  rect(x="336", y="17", width="2", height="26", fill="#A5B4CB")
  rect(x="339", width="2", height="43", fill="#A5B4CB")
  rect(x="342", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="345", y="8", width="2", height="35", fill="#A5B4CB")
  rect(x="348", y="9", width="2", height="34", fill="#A5B4CB")
  rect(x="351", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="354", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="357", y="4", width="2", height="39", fill="#A5B4CB")
  rect(x="360", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="363", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="366", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="369", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="372", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="375", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="378", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="381", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="384", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="387", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="390", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="393", width="2", height="43", fill="#A5B4CB")
  rect(x="396", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="399", y="8", width="2", height="35", fill="#A5B4CB")
  rect(x="402", y="9", width="2", height="34", fill="#A5B4CB")
  rect(x="405", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="408", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="411", y="4", width="2", height="39", fill="#A5B4CB")
  rect(x="414", y="7", width="2", height="36", fill="#A5B4CB")
  rect(x="417", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="420", y="10", width="2", height="33", fill="#A5B4CB")
  rect(x="423", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="426", y="14", width="2", height="29", fill="#A5B4CB")
  rect(x="429", y="15", width="2", height="28", fill="#A5B4CB")
  rect(x="432", y="20", width="2", height="23", fill="#A5B4CB")
  rect(x="435", y="18", width="2", height="25", fill="#A5B4CB")
  rect(x="438", y="19", width="2", height="24", fill="#A5B4CB")
  rect(x="441", y="22", width="2", height="21", fill="#A5B4CB")
  rect(x="444", y="23", width="2", height="20", fill="#A5B4CB")
  rect(x="447", y="29", width="2", height="14", fill="#A5B4CB")
  rect(x="450", y="27", width="2", height="16", fill="#A5B4CB")
  rect(x="453", y="25", width="2", height="18", fill="#A5B4CB")
  rect(x="456", y="29", width="2", height="14", fill="#A5B4CB")
  rect(x="459", y="33", width="2", height="10", fill="#A5B4CB")
  rect(x="462", y="35", width="2", height="8", fill="#A5B4CB")
  rect(x="465", y="38", width="2", height="5", fill="#A5B4CB")
  rect(x="468", y="37", width="2", height="6", fill="#A5B4CB")
  rect(x="471", y="35", width="2", height="8", fill="#A5B4CB")
  rect(x="474", y="37", width="2", height="6", fill="#A5B4CB")
  rect(x="477", y="34", width="2", height="9", fill="#A5B4CB")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 0 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 3 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 6 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 9 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 12 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 15 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 18 53)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 21 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 24 56)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 27 54)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 30 53)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 33 53)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 36 56)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 39 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 42 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 45 56)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 48 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 51 54)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 54 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 57 54)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 60 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 63 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 66 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 69 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 72 56)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 75 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 78 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 81 54)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 84 57)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 87 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 90 53)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 93 53)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 96 53)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 99 53)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 102 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 105 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 108 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 111 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 114 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 117 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 120 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 123 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 126 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 129 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 132 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 135 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 138 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 141 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 144 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 147 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 150 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 153 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 156 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 159 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 162 56)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 165 57)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 168 57)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 171 56)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 174 57)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 177 57)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 180 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 183 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 186 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 189 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 192 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 195 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 198 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 201 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 204 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 207 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 210 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 213 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 216 56)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 219 57)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 222 57)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 225 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 228 56)", fill="#E5EAF1")
  rect(width="2", height="13", transform="matrix(1 0 0 -1 231 58)", fill="#E5EAF1")
  rect(width="2", height="13", transform="matrix(1 0 0 -1 234 58)", fill="#E5EAF1")
  rect(width="2", height="13", transform="matrix(1 0 0 -1 237 58)", fill="#E5EAF1")
  rect(width="2", height="13", transform="matrix(1 0 0 -1 240 58)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 243 57)", fill="#E5EAF1")
  rect(width="2", height="14", transform="matrix(1 0 0 -1 246 59)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 249 57)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 252 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 255 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 258 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 261 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 264 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 267 56)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 270 57)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 273 57)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 276 56)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 279 57)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 282 57)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 285 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 288 56)", fill="#E5EAF1")
  rect(width="2", height="13", transform="matrix(1 0 0 -1 291 58)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 294 57)", fill="#E5EAF1")
  rect(width="2", height="13", transform="matrix(1 0 0 -1 297 58)", fill="#E5EAF1")
  rect(width="2", height="13", transform="matrix(1 0 0 -1 300 58)", fill="#E5EAF1")
  rect(width="2", height="13", transform="matrix(1 0 0 -1 303 58)", fill="#E5EAF1")
  rect(width="2", height="13", transform="matrix(1 0 0 -1 306 58)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 309 57)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 312 56)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 315 57)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 318 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 321 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 324 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 327 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 330 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 333 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 336 53)", fill="#E5EAF1")
  rect(width="2", height="14", transform="matrix(1 0 0 -1 339 59)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 342 57)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 345 57)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 348 56)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 351 57)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 354 57)", fill="#E5EAF1")
  rect(width="2", height="13", transform="matrix(1 0 0 -1 357 58)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 360 57)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 363 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 366 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 369 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 372 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 375 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 378 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 381 54)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 384 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 387 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 390 54)", fill="#E5EAF1")
  rect(width="2", height="14", transform="matrix(1 0 0 -1 393 59)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 396 57)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 399 57)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 402 56)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 405 57)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 408 57)", fill="#E5EAF1")
  rect(width="2", height="13", transform="matrix(1 0 0 -1 411 58)", fill="#E5EAF1")
  rect(width="2", height="12", transform="matrix(1 0 0 -1 414 57)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 417 56)", fill="#E5EAF1")
  rect(width="2", height="11", transform="matrix(1 0 0 -1 420 56)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 423 53)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 426 54)", fill="#E5EAF1")
  rect(width="2", height="9", transform="matrix(1 0 0 -1 429 54)", fill="#E5EAF1")
  rect(width="2", height="7", transform="matrix(1 0 0 -1 432 52)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 435 53)", fill="#E5EAF1")
  rect(width="2", height="8", transform="matrix(1 0 0 -1 438 53)", fill="#E5EAF1")
  rect(width="2", height="7", transform="matrix(1 0 0 -1 441 52)", fill="#E5EAF1")
  rect(width="2", height="7", transform="matrix(1 0 0 -1 444 52)", fill="#E5EAF1")
  rect(width="2", height="5", transform="matrix(1 0 0 -1 447 50)", fill="#E5EAF1")
  rect(width="2", height="5", transform="matrix(1 0 0 -1 450 50)", fill="#E5EAF1")
  rect(width="2", height="6", transform="matrix(1 0 0 -1 453 51)", fill="#E5EAF1")
  rect(width="2", height="5", transform="matrix(1 0 0 -1 456 50)", fill="#E5EAF1")
  rect(width="2", height="4", transform="matrix(1 0 0 -1 459 49)", fill="#E5EAF1")
  rect(width="2", height="2", transform="matrix(1 0 0 -1 462 47)", fill="#E5EAF1")
  rect(width="2", height="1", transform="matrix(1 0 0 -1 465 46)", fill="#E5EAF1")
  rect(width="2", height="2", transform="matrix(1 0 0 -1 468 47)", fill="#E5EAF1")
  rect(width="2", height="2", transform="matrix(1 0 0 -1 471 47)", fill="#E5EAF1")
  rect(width="2", height="2", transform="matrix(1 0 0 -1 474 47)", fill="#E5EAF1")
  rect(width="2", height="4", transform="matrix(1 0 0 -1 477 49)", fill="#E5EAF1")
  rect(x="441", y="25", width="38", height="18", rx="2", fill="#1B1D21")
  path(d="M451.62 33.89C452.053 33.89 452.373 33.8 452.58 33.62C452.787 33.4333 452.89 33.1967 452.89 32.91V32.84C452.89 32.52 452.79 32.2767 452.59 32.11C452.39 31.9367 452.12 31.85 451.78 31.85C451.447 31.85 451.163 31.9267 450.93 32.08C450.697 32.2267 450.5 32.4333 450.34 32.7L449.59 32.05C449.697 31.8967 449.817 31.75 449.95 31.61C450.083 31.47 450.24 31.35 450.42 31.25C450.6 31.1433 450.803 31.06 451.03 31C451.257 30.9333 451.517 30.9 451.81 30.9C452.137 30.9 452.44 30.94 452.72 31.02C453 31.1 453.24 31.22 453.44 31.38C453.64 31.5333 453.797 31.7233 453.91 31.95C454.023 32.17 454.08 32.42 454.08 32.7C454.08 32.92 454.043 33.12 453.97 33.3C453.903 33.48 453.807 33.64 453.68 33.78C453.56 33.9133 453.417 34.0233 453.25 34.11C453.09 34.1967 452.92 34.26 452.74 34.3V34.35C452.94 34.39 453.127 34.4567 453.3 34.55C453.48 34.6367 453.637 34.7533 453.77 34.9C453.903 35.04 454.007 35.21 454.08 35.41C454.16 35.6033 454.2 35.8267 454.2 36.08C454.2 36.3867 454.14 36.6667 454.02 36.92C453.9 37.1667 453.73 37.38 453.51 37.56C453.297 37.74 453.037 37.88 452.73 37.98C452.423 38.0733 452.083 38.12 451.71 38.12C451.383 38.12 451.097 38.0833 450.85 38.01C450.603 37.9433 450.383 37.8533 450.19 37.74C450.003 37.62 449.837 37.4867 449.69 37.34C449.55 37.1867 449.427 37.03 449.32 36.87L450.15 36.22C450.237 36.36 450.327 36.49 450.42 36.61C450.52 36.7233 450.63 36.8233 450.75 36.91C450.877 36.99 451.017 37.0533 451.17 37.1C451.33 37.1467 451.51 37.17 451.71 37.17C452.137 37.17 452.463 37.07 452.69 36.87C452.917 36.6633 453.03 36.38 453.03 36.02V35.95C453.03 35.59 452.91 35.3167 452.67 35.13C452.43 34.9433 452.09 34.85 451.65 34.85H450.91V33.89H451.62ZM456.546 38.12C456.299 38.12 456.116 38.0567 455.996 37.93C455.876 37.7967 455.816 37.6333 455.816 37.44V37.29C455.816 37.0967 455.876 36.9367 455.996 36.81C456.116 36.6767 456.299 36.61 456.546 36.61C456.793 36.61 456.976 36.6767 457.096 36.81C457.216 36.9367 457.276 37.0967 457.276 37.29V37.44C457.276 37.6333 457.216 37.7967 457.096 37.93C456.976 38.0567 456.793 38.12 456.546 38.12ZM456.546 34.19C456.299 34.19 456.116 34.1267 455.996 34C455.876 33.8667 455.816 33.7033 455.816 33.51V33.36C455.816 33.1667 455.876 33.0067 455.996 32.88C456.116 32.7467 456.299 32.68 456.546 32.68C456.793 32.68 456.976 32.7467 457.096 32.88C457.216 33.0067 457.276 33.1667 457.276 33.36V33.51C457.276 33.7033 457.216 33.8667 457.096 34C456.976 34.1267 456.793 34.19 456.546 34.19ZM463.502 38H458.762V36.92L460.992 34.93C461.345 34.61 461.615 34.3067 461.802 34.02C461.995 33.7267 462.092 33.42 462.092 33.1V32.97C462.092 32.63 461.988 32.3633 461.782 32.17C461.582 31.9767 461.308 31.88 460.962 31.88C460.768 31.88 460.598 31.91 460.452 31.97C460.312 32.0233 460.188 32.1 460.082 32.2C459.975 32.3 459.885 32.4167 459.812 32.55C459.745 32.6833 459.692 32.8267 459.652 32.98L458.662 32.6C458.735 32.38 458.835 32.17 458.962 31.97C459.088 31.7633 459.248 31.58 459.442 31.42C459.635 31.26 459.862 31.1333 460.122 31.04C460.388 30.9467 460.698 30.9 461.052 30.9C461.405 30.9 461.722 30.9533 462.002 31.06C462.282 31.16 462.515 31.3033 462.702 31.49C462.895 31.67 463.042 31.8867 463.142 32.14C463.242 32.3933 463.292 32.67 463.292 32.97C463.292 33.25 463.248 33.51 463.162 33.75C463.075 33.99 462.955 34.2167 462.802 34.43C462.648 34.6433 462.468 34.8467 462.262 35.04C462.062 35.2333 461.848 35.43 461.622 35.63L459.982 37.04H463.502V38ZM467.678 38V36.64H464.438V35.67L467.268 31.02H468.748V35.75H469.698V36.64H468.748V38H467.678ZM465.398 35.75H467.678V32.05H467.608L465.398 35.75Z", fill="white")