svg(width="30", height="30", viewBox="0 0 30 30", fill="none", xmlns="http://www.w3.org/2000/svg")
  rect(width="30", height="30", rx="15", fill="#F8F8F8")
  path(d="M15.735 10.1L10.9458 15.1691C10.765 15.3616 10.59 15.7408 10.555 16.0033L10.3392 17.8933C10.2633 18.5758 10.7533 19.0425 11.43 18.9258L13.3083 18.605C13.5708 18.5583 13.9383 18.3658 14.1192 18.1675L18.9083 13.0983C19.7367 12.2233 20.11 11.2258 18.8208 10.0066C17.5375 8.79913 16.5633 9.22496 15.735 10.1Z", stroke="#A6A7B2", stroke-width="1.5", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
  path(d="M14.9358 10.9458C15.1867 12.5558 16.4933 13.7866 18.115 13.95", stroke="#A6A7B2", stroke-width="1.5", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
  path(d="M9.75 20.8333H20.25", stroke="#A6A7B2", stroke-width="1.5", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")