svg(width="10", height="6", viewBox="0 0 10 6", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M8.75 5.08329L5.25 1.58329L3.91667 3.58329L1.25 0.916626", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
  path(d="M7.08398 5.08329H8.75065V3.41663", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")