.widget.widget-podcast
  +widgetHeader("Top 8 Podcast", "View all")
  .top-podcast-images
    each img in ["./images/podcast/podcast-1.png", "./images/podcast/podcast-2.png", "./images/podcast/podcast-3.png", "./images/podcast/podcast-4.png", "./images/podcast/podcast-5.png", "./images/podcast/podcast-6.png", "./images/podcast/podcast-7.png", "./images/podcast/podcast-8.png"]
      img(src= img, alt="")

