.navigation
  .navigation-item
    include ../icons/_icon-menu
  .navigation-item
    img(src="./images/icons/icon-search.svg", alt="Search")
  button.navigation-item
    img(src="./images/icons/icon-upload.svg", alt="Upload")
  .navigation-item
    img(src="./images/icons/icon-message.svg", alt="Message")
  .navigation-item
    img(src="./images/icons/icon-notify.svg", alt="Notify")