-
  var menu_1 = [
    {text: "Home", icon: "icon-home", href: "/"},
    {text: "Trending", icon: "icon-chart", href: "/trending.html"},
    {text: "Explore Topics", icon: "icon-cube", href: "/topics.html"},
    {text: "Playlist", icon: "icon-play", href: "/playlist.html"},
    {text: "Subscriptions", icon: "icon-subs", href: "/subscriptions.html"}
  ];
  var menu_2 = [
    {text: "Dashboard", icon: "icon-discovery", href: "/dashboard.html"},
    {text: "Episodes", icon: "icon-microphone", href: "/episodes.html"},
    {text: "Team", icon: "icon-user", href: "/team.html"},
    {text: "Subscribers", icon: "icon-add-user", href: "/subscribers.html"}
  ];
  var menu_3 = [
    {text: "Leaderboard", icon: "icon-medal", href: "/leaderboard.html"}
  ];

aside.sidebar
  a(href="/").logo
    img(src="./images/Logo.png", alt="gocastUI")

  ul.menu
    each item in menu_1
      +menuItem(item.text, item.icon, item.href)

  ul.menu
    h3.menu-heading Podcasters
    each item in menu_2
      +menuItem(item.text, item.icon, item.href)

  ul.menu
    h3.menu-heading Community
    each item in menu_3
      +menuItem(item.text, item.icon, item.href)