.topbar
  a.topbar-logo(href="/")
    img(src="./images/Logo.png", alt="gocastUI")
  .search
    img.search-icon(src="./images/icons/icon-search.svg", alt="search")
    input.search-input(type="text" placeholder="Search 2+ million podcasts and listeners")
  .topbar-right
    button.button.button--primary.button-upload
      img(src="./images/icons/icon-upload.svg", alt="upload")
      span Upload
    a.topbar-action(href="#")
      img(src="./images/icons/icon-message.svg", alt="message")
    a.topbar-action(href="#")
      img(src="./images/icons/icon-notify.svg", alt="notifycation")
    a.topbar-profile(href="#")
      img(src="./images/TTT.jpg", alt="TTT")